<h1>Welcome to SinusDoc!<h1>
<div>
  <%= link_to "Doctor Sign up", new_doctor_registration_path, :method => :get %>
  <%= link_to "Doctor Sign in", new_doctor_session_path, :method => :get %>
  <%= link_to "Doctor Sign out", destroy_doctor_session_path, :method => :delete %>
</div>
<div>
  <%= link_to "Patient Sign up", new_patient_registration_path, :method => :get %>
  <%= link_to "Patient Sign in", new_patient_session_path, :method => :get %>
  <%= link_to "Patient Sign out", destroy_patient_session_path, :method => :delete %>
</div>
