<div class="cent">
<%= form_for(chronic) do |f| %>
  <% if chronic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chronic.errors.count, "error") %> prohibited this chronic from being saved:</h2>

      <ul>
      <% chronic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_created %>
    <%= f.datetime_select :date_created %>
  </div>
<br />
<p class = "cent">Choose a point on the line to record your amount of discomfort.<br />
  The score increases from left to right with leftmost point signifying a score of 0 and rightmost point signifying a score of 10</p>
  <div class="field" width=100%>
    <%= f.label :discomfort_score %><br />
    <table>
      <tbody>
        <tr>
          <td><%= f.radio_button :discomfort_score, 0 %></td>
          <td><%= f.radio_button :discomfort_score, 0.5 %></td>
          <td><%= f.radio_button :discomfort_score, 1 %></td>
          <td><%= f.radio_button :discomfort_score, 1.5 %></td>
          <td><%= f.radio_button :discomfort_score, 2 %></td>
          <td><%= f.radio_button :discomfort_score, 2.5 %></td>
          <td><%= f.radio_button :discomfort_score, 3 %></td>
          <td><%= f.radio_button :discomfort_score, 3.5 %></td>
          <td><%= f.radio_button :discomfort_score, 4 %></td>
          <td><%= f.radio_button :discomfort_score, 4.5 %></td>
          <td><%= f.radio_button :discomfort_score, 5 %></td>
          <td><%= f.radio_button :discomfort_score, 5.5 %></td>
          <td><%= f.radio_button :discomfort_score, 6 %></td>
          <td><%= f.radio_button :discomfort_score, 6.5 %></td>
          <td><%= f.radio_button :discomfort_score, 7 %></td>
          <td><%= f.radio_button :discomfort_score, 7.5 %></td>
          <td><%= f.radio_button :discomfort_score, 8.5 %></td>
          <td><%= f.radio_button :discomfort_score, 8 %></td>
          <td><%= f.radio_button :discomfort_score, 9 %></td>
          <td><%= f.radio_button :discomfort_score, 9.5 %></td>
          <td><%= f.radio_button :discomfort_score, 10 %></td>
        </tr>
        <!--<tr>
          <td><%= f.label :discomfort_score, 0 %></td>
          <td><%= f.label :discomfort_score, 0.5 %></td>
          <td><%= f.label :discomfort_score, 1 %></td>
          <td><%= f.label :discomfort_score, 1.5 %></td>
          <td><%= f.label :discomfort_score, 2 %></td>
          <td><%= f.label :discomfort_score, 2.5 %></td>
          <td><%= f.label :discomfort_score, 3 %></td>
          <td><%= f.label :discomfort_score, 3.5 %></td>
          <td><%= f.label :discomfort_score, 4 %></td>
          <td><%= f.label :discomfort_score, 4.5 %></td>
          <td><%= f.label :discomfort_score, 5 %></td>
          <td><%= f.label :discomfort_score, 5.5 %></td>
          <td><%= f.label :discomfort_score, 6 %></td>
          <td><%= f.label :discomfort_score, 6.5 %></td>
          <td><%= f.label :discomfort_score, 7 %></td>
          <td><%= f.label :discomfort_score, 7.5 %></td>
          <td><%= f.label :discomfort_score, 8 %></td>
          <td><%= f.label :discomfort_score, 8.5 %></td>
          <td><%= f.label :discomfort_score, 9 %></td>
          <td><%= f.label :discomfort_score, 9.5 %></td>
          <td><%= f.label :discomfort_score, 10 %></td>
        </tr>-->
      </tbody>
      <table>

  </div>
<br />
  <div class="actions">
    <%= f.submit "SUBMIT"%>
  </div>
<% end %>
</div>
