<p id="notice"><%= link_to "Sign out", destroy_patient_session_path, :method => :delete %></p>

<div class = "cent">
<p class = "cent">
  <strong>Patient:</strong>
  <%= @chronic.patient_id %>
</p>

<p class = "cent">
  <strong>Date created:</strong>
  <%= @chronic.date_created %>
</p>

<p class = "cent">
  <strong>Discomfort score:</strong>
  <%= @chronic.discomfort_score %>
</p>

<%= link_to 'Back', patients_path %>
</div>
