<div class="cent">
<%= form_for(acute) do |f| %>
  <% if acute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(acute.errors.count, "error") %> prohibited this acute from being saved:</h2>

      <ul>
      <% acute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p class = "cent">
    <strong>Which of the following symptoms do you exhibit?</strong>
  </p>

  <div class="field">
    <table>
      <tbody>
        <tr>
          <%= f.label :nasal_congestion %>
        </tr>
        <tr>
          <td><%= f.label :nasal_congestion, "Yes" %><%= f.radio_button :nasal_congestion, 1 %></td>
          <td><%= f.label :nasal_congestion, "No" %><%= f.radio_button :nasal_congestion, 0 %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="field">
    <table>
      <tbody>
        <tr>
          <%= f.label :nasal_drainage %>
        </tr>
        <tr>
          <td><%= f.label :nasal_drainage, "Yes" %><%= f.radio_button :nasal_drainage, 1 %></td>
          <td><%= f.label :nasal_drainage, "No" %><%= f.radio_button :nasal_drainage, 0 %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="field">
    <table>
      <tbody>
        <tr>
          <%= f.label :facial_pain_or_headaches %>
        </tr>
        <tr>
          <td><%= f.label :facial_pain_or_headaches, "Yes" %><%= f.radio_button :facial_pain_or_headaches, 1 %></td>
          <td><%= f.label :facial_pain_or_headaches, "No" %><%= f.radio_button :facial_pain_or_headaches, 0 %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="field">
    <table>
      <tbody>
        <tr>
          <%= f.label :loss_of_sense_of_smell %>
        </tr>
        <tr>
          <td><%= f.label :loss_of_sense_of_smell, "Yes" %><%= f.radio_button :loss_of_sense_of_smell, 1 %></td>
          <td><%= f.label :loss_of_sense_of_smell, "No" %><%= f.radio_button :loss_of_sense_of_smell, 0 %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class = "cent">
    <strong>How long have you been exhbiting the above symptoms?</strong>
  </p>
        <div class="field">
          <table>
            <tbody>
              <tr>
                <td><%= f.radio_button :duration, 1 %></td>
                <td><%= f.radio_button :duration, 6 %></td>
                <td><%= f.radio_button :duration, 11 %></td>
                <td><%= f.radio_button :duration, 100 %></td>
              </tr>
                <td><%= f.label :duration, "Less than 5 days" %></td>
                <td><%= f.label :duration, "5-10 days" %></td>
                <td><%= f.label :duration, "More than 10 days" %></td>
                <td><%= f.label :duration, "More than 3 months" %></td>
              <tr>
            </tbody>
          </table>
        </div>
        <p class = "cent">
          <strong>Have the symptoms been getting better or worse?</strong>
        </p>
        <div class="field">
          <table>
            <tbody>
              <tr>
                <td><%= f.label :better_or_worse, "Better" %><%= f.radio_button :better_or_worse, 1 %></td>
                <td><%= f.label :better_or_worse, "Worse" %><%= f.radio_button :better_or_worse, -1 %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class = "cent">
          <strong>Do you exhibit any of the following symptoms?</strong><br />Swelling or redness around the eye, double vision, abnormal position of your eye, inability to move your eye normally, reduced vision, swelling of your forehead, neurological changes, severe forehead headchess, lethargic, altered mental status, neck stiffness
        </p>
        <div class="field">
          <table>
            <tbody>
              <tr>
                <td><%= f.label :emergency_symptoms, "Yes" %><%= f.radio_button :emergency_symptoms, true %></td>
                <td><%= f.label :emergency_symptoms, "No" %><%= f.radio_button :emergency_symptoms, false %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
  <div class="field">
    <%= f.label :date_created %>
    <%= f.datetime_select :date_created %>
  </div>
  <br />
  <div class="actions">

    <%= f.submit "SUBMIT"%>
  </div>
<% end %>
</div>
