<div class="cent">
<%= form_for(acute) do |f| %>
  <% if acute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(acute.errors.count, "error") %> prohibited this acute from being saved:</h2>

      <ul>
      <% acute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :nasal_congestion %>
    <%= f.label :nasal_congestion, "Yes" %>
    <%= f.radio_button :nasal_congestion, 1 %>
    <%= f.label :nasal_congestion, "No" %>
    <%= f.radio_button :nasal_congestion, 0 %>
  </div>

    <div class="field">
      <%= f.label :nasal_drainage %>
      <%= f.label :nasal_drainage, "Yes" %>
      <%= f.radio_button :nasal_drainage, 1 %>
      <%= f.label :nasal_drainage, "No" %>
      <%= f.radio_button :nasal_drainage, 0 %>
    </div>

      <div class="field">
        <%= f.label :facial_pain_or_headaches %>
        <%= f.label :facial_pain_or_headaches, "Yes" %>
        <%= f.radio_button :facial_pain_or_headaches, 1 %>
        <%= f.label :facial_pain_or_headaches, "No" %>
        <%= f.radio_button :facial_pain_or_headaches, 0 %>
      </div>

        <div class="field">
          <%= f.label :loss_of_sense_of_smell %>
          <%= f.label :loss_of_sense_of_smell, "Yes" %>
          <%= f.radio_button :loss_of_sense_of_smell, 1 %>
          <%= f.label :loss_of_sense_of_smell, "No" %>
          <%= f.radio_button :loss_of_sense_of_smell, 0 %>
        </div>

        <div class="field">
          <%= f.label :duration %>
          <%= f.label :duration, "Less than 5 days" %>
          <%= f.radio_button :duration, 1 %>
          <%= f.label :duration, "5-10 days" %>
          <%= f.radio_button :duration, 6 %>
          <%= f.label :duration, "More than 10 days" %>
          <%= f.radio_button :duration, 11 %>
          <%= f.label :duration, "More than 3 months" %>
          <%= f.radio_button :duration, 100 %>
        </div>

        <div class="field">
          <%= f.label :better_or_worse %>
          <%= f.label :better_or_worse, "Better" %>
          <%= f.radio_button :better_or_worse, 1 %>
          <%= f.label :better_or_worse, "Worse" %>
          <%= f.radio_button :better_or_worse, -1 %>
        </div>

        <div class="field">
          <%= f.label :emergency_symptoms %>
          <%= f.label :emergency_symptoms, "Yes" %>
          <%= f.radio_button :emergency_symptoms, true %>
          <%= f.label :emergency_symptoms, "No" %>
          <%= f.radio_button :emergency_symptoms, false %>
        </div>

  <div class="field">
    <%= f.label :date_created %>
    <%= f.datetime_select :date_created %>
  </div>

  <div class="actions">
    
    <%= f.submit %>
  </div>
<% end %>
</div>
