<p id="notice"><%= notice %></p>

<h1>Acutes</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Date created</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acutes.each do |acute| %>
      <tr>
        <td><%= acute.patient_id %></td>
        <td><%= acute.date_created %></td>
        <td><%= acute.answer %></td>
        <td><%= link_to 'Show', acute %></td>
        <td><%= link_to 'Edit', edit_acute_path(acute) %></td>
        <td><%= link_to 'Destroy', acute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acute', new_acute_path %>
