<p id="notice"><%= link_to "Sign out", destroy_doctor_session_path, :method => :delete %></p>
<div class="cent">
<h1>PATIENT DETAILS</h1>

<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Chronic Sinusitis history</th>
    <th>Average chronic discomfort score</th>
    <th>Acute Sinusitis history</th>
  </thead>
  <tbody>
    <% current_doctor.patient.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td><%= p.name %></td>
      <td><%= p.email %></td>
      <td>
        <% if p.chronic.size > 0 %>
        <table>
        <thead>
          <tr>
            <th>Date recorded</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <%p.chronic.each do |c| %>
          <tr>
            <td><%= c.date_created %></td>
            <td><%= c.discomfort_score %></td>
          </tr>
          <% end %>
        </tbody>
        </table>
        <% end %>
      </td>
    <td>
      <% if p.chronic.average(:discomfort_score) != nil %>
        <%= '%.2f' % p.chronic.average(:discomfort_score) %>
      <% else %>
        <%= p.chronic.average(:discomfort_score) %>
      <% end %>
    </td>

    <td>
      <% if p.acute.size > 0 %>
      <table>
        <thead>
          <tr>
            <th>Date recorded</th>
            <th>Diagnosis</th>
          </tr>
        </thead>
        <tbody>
          <%p.acute.each do |a| %>
          <tr>
            <td><%= a.date_created %></td>
            <td><%= a.answer %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </td>
    <tr></tr>
      <% end %>
      </tr>
      </tbody>

    </table>
</div>
<p class="cent"><%= link_to 'Back', doctors_path %></p>
</div>
