<p id="notice"><%= link_to "Sign out", destroy_patient_session_path, :method => :delete %></p>

<h1>Patient Portal</h1>

<table>
  <thead>
    <tr>
      <th>Patient Id</th>
      <th>Patient Name</th>
      <th>Patient Email</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= current_patient.id %></td>
        <td><%= current_patient.name %></td>
        <td><%= current_patient.email %></td>
      </tr>
  </tbody>
</table>
<p></p>
<table>
  <tbody>
    <tr>
      <td><%= link_to "SHOW DETAILS", patients_show_path %></td>
      <td><%= link_to "EDIT DETAILS", patients_edit_path %></td>
      <td><%= link_to 'SINUSITIS TESTING FORM', new_acute_path %></td>
      <td><%= link_to 'NEW CHRONIC SINUSITIS RECORD', new_chronic_path %></td>
    </tr>
  </tbody>
</table>
